@use '../abstracts' as *;

.header {
  padding: rem(20) 0;
  
  @include breakpoint-up("small") {
    padding: rem(50) 0;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__home {
  flex-basis: rem(100);
  
  @include focus-visible;
  @include breakpoint-up("small") {
    flex-basis: rem(200);
  }
}

.header__navigation {
  font-family: $header-navigation-ff;
}

.header__list {
  display: flex;
  gap: rem(16);
  
  @supports not (gap: rem(16)) {
    & > *:not(:last-child) {
      margin-right: rem(16);
    }
  }
  
  @include breakpoint-up("small") {
    gap: rem(32);
    
    @supports not (gap: rem(32)) {
      & > *:not(:last-child) {
        margin-right: rem(32);
      }
    }
  }
}

.header__link {
  padding-bottom: rem(3);
  color: inherit;
  
  @include focus-visible;
  @include on-event {
    border-bottom: rem(1) solid $dark-blue-100;
  }
  
  @include breakpoint-down('tiny') {
    font-size: rem(12);
  }
}
