@use '../abstracts' as *;

.hero {
  padding-top: rem(90);
  padding-bottom: rem(120);
  background-image: url("../images/bg-curve-mobile.svg");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
}

.hero__text {
  text-align: center;
}

.hero__title {
  font-size: rem(24);
}
