@use '../abstracts' as *;

.hero {
  padding-top: rem(90);
  padding-bottom: rem(120);
  background-image: url("../images/bg-curve-mobile.svg");
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  
  @include breakpoint-up("small") {
    background-image: url("../images/bg-curve-desktop.svg");
    padding-bottom: rem(250);
  }
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
  
  @include breakpoint-up("small") {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: rem(40);
    
    @supports not (gap: rem(40)) {
      & > *:first-child {
        margin-right: rem(40);
      }
    }
  }
}

.hero__text {
  text-align: center;
  
  @include breakpoint-up("small") {
    flex-basis: 50%;
    text-align: left;
  }
}

.hero__title {
  font-size: rem(24);
  
  @include breakpoint-up("small") {
    font-size: rem(40);
  }
}

.hero__description {
  
  @include breakpoint-up("small") {
    margin: rem(24) 0;
  }
}

.hero__image {
  margin: 0 auto;
  
  @include breakpoint-up("small") {
    margin: 0;
    flex-basis: 50%;
  }
}
