@use '../abstracts' as *;

.productive {
  padding: rem(90) 0;
  background-color: $productive-bg;
  overflow: hidden;
}

.productive .container {
  display: flex;
  flex-direction: column-reverse;
  
  @include breakpoint-up("small") {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: rem(40);
    
    @supports not (gap: rem(40)) {
      & > *:first-child {
        margin-right: rem(40);
      }
    }
  }
}

.productive__text {
  
  @include breakpoint-up("small") {
    flex-basis: 50%;
    text-align: left;
  }
}

.productive__title {
  margin-bottom: rem(28);
  text-align: center;
  font-size: rem(18);
  
  @include breakpoint-up("small") {
    text-align: left;
    font-size: rem(40);
  }
}

.productive__description {
  color: $productive-description-color;
}

.productive__link {
  display: inline-block;
  background-image: url("../images/icon-arrow.svg");
  background-position: center right;
  background-repeat: no-repeat;
  border-bottom: rem(1) solid $productive-link-color;
  padding-bottom: rem(5);
  width: 19ch;
  color: $productive-link-color;
  font-size: rem(12);
  
  @include focus-visible;
  @include on-event {
    border-color: tint($productive-link-color, 25%);
    background-image: url("../images/icon-arrow-hover.svg");
    color: tint($productive-link-color, 25%);
  }
  
  @include breakpoint-up("small") {
    font-size: rem(14);
  }
}

.productive__image {
  margin-right: auto;
  margin-bottom: rem(60);
  margin-left: auto;
  
  @include breakpoint-up("small") {
    margin: 0;
    flex-basis: 50%;
  }
}
