@use '../abstracts' as *;

.testimonial {
  margin: rem(40) 0;
}

.testimonial__card {
  border-radius: 0.5em;
  box-shadow: 
    rem(3) rem(3) rem(6) rgba($dark-blue-200, 0.1),
    -#{rem(3)} -#{rem(3)} rem(6) rgba($dark-blue-200, 0.1)
  ;
  background-color: $white;
  padding: rem(20);
}

.testimonial__blockquote {
  margin: rem(18) 0;
}

.testimonial__figcaption {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: rem(16);
  
  @supports not (gap: rem(16)) {
    & > *:first-child {
      margin-left: rem(16);
    }
  }
}

.testimonial__name,
.testimonial__job {
  margin: 0;
}

.testimonial__job {
  font-size: rem(12);
}

.testimonial__name {
  font-weight: 700;
}

.testimonial__image {
  height: rem(50);
  width: rem(50);
  border-radius: 50%;
}
